<header class="header">
  <div class="container nav-wrapper">
    <div class="logo">
      <img src="{{ college.logo }}" alt="{{ college.name }}" />
      <span>{{ college.name }}</span>
    </div>
    <input type="checkbox" id="nav-toggle" />

    <label for="nav-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav class="nav" id="navMenu">
      <ul>
        <li>
          <a href="#"> <i class="fa-solid fa-house"></i> Home </a>
        </li>

        <li>
          <a href="#"> <i class="fa-solid fa-circle-info"></i> About </a>
        </li>

        <li class="dropdown">
          <a href="#">
            <i class="fa-solid fa-book"></i> Courses
            <i class="fa-solid fa-angle-down"></i>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <i class="fa-solid fa-user-nurse"></i> B.Sc Nursing
              </a>
            </li>

            <li>
              <a href="#"> <i class="fa-solid fa-stethoscope"></i> GNM </a>
            </li>

            <li>
              <a href="#"> <i class="fa-solid fa-kit-medical"></i> ANM </a>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-graduation-cap"></i> Post Basic B.Sc
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#"> <i class="fa-solid fa-chalkboard-user"></i> Faculty </a>
        </li>

        <li>
          <a href="#"> <i class="fa-solid fa-file-signature"></i> Admission </a>
        </li>

        <li>
          <a href="#"> <i class="fa-solid fa-building"></i> Facilities </a>
        </li>

        <li>
          <a href="#"> <i class="fa-solid fa-image"></i> Gallery </a>
        </li>

        <li>
          <a href="#"> <i class="fa-solid fa-envelope"></i> Contact </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
