@use "../base/variables" as *;
.courses-home {

  .course-card {
  background: $card-bg;
  padding: 36px 28px;
  border-radius: 14px;
  text-align: center;
  height: 100%;
  transition: all .3s ease;
  box-shadow: 0 8px 30px rgba(0,0,0,.05);

    h4 {
      margin-top: 15px;
      margin-bottom: 10px;
      color: #083b66;
      font-size: 20px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      color: $primary;
      margin: 0;
    }

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 14px 30px rgba(0,0,0,.08);
    }
  }

  .course-icon {
    font-size: 36px;
  }
}
