@use "../base/variables" as *;

.course-card {
  background: #fff;
  padding: 35px 25px;
  border-radius: 12px;
  border: 1px solid #eee;
  transition: all 0.3s ease;
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.course-icon {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e8f2ff;
  border-radius: 50%;
  font-size: 30px;
  color: #2ec4b6;
}

.course-duration {
  font-weight: 600;
  color: #2ec4b6;
  margin-bottom: 5px;
}

.course-info {
  font-size: 14px;
  color: #666;
}
.course-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.course-card:hover .course-icon {
  background: #2ec4b6;
  color: #fff;
}
/* Bottom border animation */
.course-card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #2ec4b6;
  transition: width 0.3s ease;
}
.course-card:hover::after {
  width: 100%;
}
