body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* common */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 16px;
}

.section {
  padding: 60px 0;
}

.light {
  background: #f5f6fa;
}

.center {
  text-align: center;
}
