---
layout: layouts/base.njk
title: About Merchant Institute of Nursing
permalink: /leadership/
---

<section class="section">
  <div class="container">
    <h2>Chairman’s Message</h2>

    <p>
      “Education is the most powerful weapon which you can use to change the
      world.”
    </p>

    <p>
      Shri Merchant Charitable Trust was established with the purpose of
      enriching students with knowledge and skills across multiple professional
      disciplines.
    </p>

    <p class="fw-bold">Rajeshkumar D. Patel</p>
    <p>Chairman</p>
  </div>
</section>
<h2>Managing Director’s Message</h2>

<p>
  At our college, we prioritize the foundation of learning and knowledge while
  creating a friendly academic environment.
</p>

<p>
  With advanced learning technologies, experienced faculty and strong career
  opportunities, we aim to develop students into skilled professionals.
</p>

<p class="fw-bold">Yogeshbhai N. Patel</p>
<p>Managing Director</p>
