@use "../base/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: white;
  border-bottom: 1px solid $border;
  position: sticky;
  top: 0;
  z-index: 1000;

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $primary;

    img {
      height: 45px;
    }
  }

  .nav {
    ul {
      display: flex;
      list-style: none;
      gap: 25px;

      li {
        position: relative;

        a {
          text-decoration: none;
          color: $text;
          font-weight: 500;
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
      height: 3px;
      width: 25px;
      background: $text;
      margin: 4px 0;
    }
  }

  .dropdown {
    position: relative;

    .dropdown-menu {
      position: absolute;
      top: 100%; // important: removes hover gap
      left: 0;
      background: white;
      border: 1px solid $border;
      min-width: 200px;
      display: none;

      li {
        padding: 10px 15px;

        &:hover {
          background: #f5f5f5;
        }
      }
    }

    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

#nav-toggle {
  display: none;
}

@media (max-width: $mobile) {
  .header {
    .hamburger {
      display: flex;
      cursor: pointer;
      z-index: 1100;
    }

    .nav {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background: white;
      display: none;

      ul {
        flex-direction: column;
        padding: 20px;
        gap: 15px;

        li {
          .dropdown-menu {
            position: static;
            border: none;
            display: none;
          }
        }
      }
    }
  }

  /* toggle menu */

  #nav-toggle:checked ~ .nav {
    display: block;
  }
}
.nav a i {
  margin-right: 6px;
  font-size: 14px;
}
.dropdown > a i:last-child {
  margin-left: 5px;
  font-size: 12px;
}
