@use "../base/variables" as *;

.hero {
  position: relative;
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #fff;
  overflow: hidden;
  padding: 0;   // remove old padding
}


.hero-image {
  background:
    linear-gradient(
      rgba(15, 76, 92, 0.78),
      rgba(15, 76, 92, 0.78)
    ),
    url("../images/hero-nursing.png") center / cover no-repeat;
}

.hero .container {
  position: relative;
  z-index: 2;
  max-width: 820px;
}

.hero h1 {
  font-size: clamp(36px, 4vw, 52px);
  line-height: 1.2;
  margin-bottom: 14px;
}

.hero p {
  font-size: 18px;
  line-height: 1.6;
  color: rgba(255,255,255,.95);
   max-width: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* mobile */
@media (max-width: 768px) {

  .hero {
    padding: 80px 0 70px;
  }

  .hero p {
    font-size: 16px;
  }
}
