@use "../base/variables" as *;
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.img-box {
  width: 100%;
  height: 320px;
  border-radius: 16px;

  background:
    url("/images/about-nursing.png") center / cover no-repeat;

  box-shadow: 0 12px 30px rgba(0,0,0,.08);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.facility-list {
  max-width: 500px;
  margin: 20px auto 0;
  padding-left: 20px;
}

@media (max-width: 768px) {

  .two-col {
    grid-template-columns: 1fr;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
