@use "./base/variables" as *;
@use "base/reset";
@use "base/base";

@use "layout/header";
@use "layout/hero";
@use "layout/sections";
@use "layout/footer";

@use "components/cards";
@use "components/form";
@use "./components/quick-info";
@use "./components/courses-home";
@use "./components/notice";